
html {
--color-yellow: #fbf600;
--color-orange: #e79935;
}

body{
    background-image: url("../images/background.png");
    background-attachment: fixed;
    font-family: Tahoma, Geneva, sans-serif;
}

h1{
    text-align: center;
    color: var(--color-yellow);
    max-width: 640px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    text-shadow: 0 0 5px #000;
    font-size: 30px;
}
 .planets_container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    min-width:50px;
    max-width: max-content;
    border: 2px var(--color-orange) solid;
    margin: 2vh auto 0;
    color: var(--color-yellow);
    border-radius: 10px;
    padding: 10px;
}
span {
    display: table-cell;
    font-size: 2rem;
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    height: 100%;
}

input[type="number"]{
    border-radius: 12px;
    background-color: var(--color-yellow);
    text-align: center;
    border: none;
    font-size: 20px;
    width: 220px;
    font-weight: bold;
}
input[type="number"]::placeholder {
    color: rgb(128, 128, 128);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

.button {
display: block;
background-color: var(--color-yellow);
border-radius: 12px;
color: #000;
cursor: pointer;
font-weight: bold;
padding: 10px 15px;
text-align: center;
transition: 200ms;
width: 220px;
box-sizing: border-box;
border: 0;
font-size: 20px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
outline: 0;
background: #f4e603;
box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button:disabled {
filter: saturate(0.2) opacity(0.5);
-webkit-filter: saturate(0.2) opacity(0.5);
cursor: not-allowed;
}

.main {
    display:flex; 
    flex-direction: column; 
    justify-content: space-between; 
    gap: 20px; 
}

nav{
    display:flex; 
    justify-content: center; 
    gap: 10px; 
    width: max-content;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left:auto;
    margin-right:auto;
}
table td {
    padding: 10px;
    font-size: 1.5rem;
}
table thead td {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid var(--color-orange);
}
table tbody td {
    color: var(--color-yellow);
    border: 1px solid var(--color-orange);
}
table tbody tr {
    background-color: rgba(0, 0, 0, 0.6);
}

td:first-child {
text-align: center;
}

.opening_crawl{
    display: block;
    width: max-content;
    margin: 100px auto 0;
}

.avatar {
    max-width: 60px; 
    max-height: 60px;
}

label{
    color: black;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    background-color: var(--color-yellow);
    border-radius: 10px;
}